# Python / Flask
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
env/
*.egg-info/
dist/
build/
*.log

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Flutter / Dart
*.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter/

# Machine Learning
*.pkl
*.h5
*.model
*.joblib

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln